* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "微软雅黑";
}
/* 消除网页默认属性结束 */

/* 首页代码开始 */
/* 网页顶部区域样式开始 */
.top-box {
    width: 100%;
    height: 55px;
    background-color: #323436;
}
.top {
    width: 1200px;
    height: 100%;
    /* background-color: aqua; */
    margin: auto;
    line-height: 55px;
    display: flex;
    justify-content: space-between;
}
/* 页面左边小标题 */
.top>h4 {
    font-size: 14px;
    color: #a0a0a0;
    letter-spacing: 10px;
}
/* 右边搜索框 */
.ssk {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-indent:10px;
    border:2px solid #ff6537;
    outline: none;
}
/* 搜索按钮 */
.btn3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:transparent;
    outline: none;
    cursor: pointer;
    background-color: #ff6537;
    color: #fff;
}
/* 登录按钮 */
.log {
    width: 50px;
    height: 30px;
    background-color: #505050;
    color: #fff;
    margin-left: 15px;
    border:transparent;
    outline: none;
    cursor: pointer;
}
/* 注册按钮 */
.register {
    width: 50px;
    height: 30px;
    color: #fff;
    border:transparent;
    outline: none;
    cursor: pointer;
    background-color: #00a0e9;
}
/* 网页顶部区域样式结束 */

/* 导航栏区域样式开始 */
.header {
    width: 1200px;
    height: 90px;
    margin: auto;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
}
/* logo */
.logo>a>h2 {
    color: #ff6537;
    font-size: 40px;
    letter-spacing: 5px;
}
/* 导航条文字 */
.menu {
    display: flex;
}
.menu>a {
    margin-right: 40px;
    font-size: 18px;
    color: #2b2b2b;
}
.menu>a:hover {
    color: #ff6537;
	border-bottom: 2px solid #ff6537;
}
/* 导航栏区域样式结束 */

/* 轮播图样式开始 */
.box{
    position: relative;
    width:100%;
    height: 600px;
    /* border: 1px solid #333; */
    margin: auto;
}
.box .pics li{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    display: none;
}
.box .pics .current{
    display: block;
}
.pics>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 按钮 */
.box .btn a{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.192);
    font: 20px/40px "宋体";
    text-align: center;
    color: rgba(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
}

.box .btn .left-btn{
    left: 10px;
}
.box .btn .right-btn{
    right: 10px;
}
.box .btn a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/* 下标 */
.box .sub{
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 90px;
}
.box .sub li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgb(255, 255, 255,0.3);
    font: 8px/10px "微软雅黑";
    text-align: center;
    color: #666;
    cursor: pointer;
    font-size: 0;
}
.box .sub .current{
    background-color: rgba(255, 254, 254, 0.884);
}
/* 轮播图样式结束 */
.guizhou_img{
	position: absolute;
	left: 30%;
	top: 250px;
}
/* 热门景点标题样式开始 */
.popular-title {
    width: 1200px;
    height: 200px;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.popular-title>h3 {
    font-family: "思源黑体 CN Light", 微软雅黑;
    font-size: 36px;
    color: #393339;
    padding-top: 70px;
    padding-bottom: 20px;
}
.popular-title>p {
    color: #A9A9A9;
    font-size: 16px;
}
/* 热门景点标题样式结束 */

/* 热门景点区域样式开始 */
.popularj {
    width: 1200px;
    margin: auto;
    margin-bottom: 70px;
}
.popularj-list {
    width: 1200px;
    height: 340px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
}
.card1 {
    width: 290px;
    height: 330px;
}
.card1-top {
    width: 290px;
    height: 290px;
    padding: 5px;
}
.card1-top>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}
.card1-top>a>img:hover {
    transform:scale(0.9,0.9);;
}
.card1-buttom {
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #353535;
    font-size: 16px;
}
/* 热门景点区域样式结束 */

/* 热门活动及旅游资讯区域样式开始 */
.hot-events-box {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.hot-events-left {
    width: 826px;
}

.hot-events-left-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.hot-events-lef-box {
    width: 100%;
    /* height: 400px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.hot-events-lef-box-left {
    width: 365px;
    height: 400px;
}
.hot-events-lef-box-left>a>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all .5s;
}
.hot-events-lef-box-left>a>img:hover {
    transform:scale(0.9,0.9);;
}
.hot-events-lef-box-left>p {
    line-height: 40px;
    text-align: center;
}
.hot-events-lef-box-right {
    width: 400px;
    height: 400px;
}
.hot-events-lef-box-right-top {
    width: 100%;
    height: 200px;
    padding: 10px;
}
.hot-events-lef-box-right-top>a>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: all .5s;
}
.hot-events-lef-box-right-top>a>img:hover {
    transform:scale(0.9,0.9);;
}
.hot-events-lef-box-right-top>p {
    text-align: center;
    margin-top: 5px;
}
.hot-events-lef-box-right-buttom {
    width: 100%;
    height: 200px;
    padding: 10px;
}
/* 左边盒子照片属性 */
.hot-events-lef-box-right-buttom>a>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: all .5s;
}
.hot-events-lef-box-right-buttom>a>img:hover {
    transform:scale(0.9,0.9);;
}
.hot-events-lef-box-right-buttom>p {
    text-align: center;
    margin-top: 5px;
}
/* 左边盒子 */
.hot-events-right {
    width: 358px;
}
.hot-events-right-box {
    width: 100%;
    height: 440px;
}
/* 左边底部列表区域 */
.hot-events-right-box>ul>li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}
.hot-events-right-box>ul>li>a {
    font-size: 14px;
    color: #2B2B2B;
}
.hot-events-right-box>ul>li>a:hover {
    color: #ff6537;
}
.hr {
    width: 70px;
    height: 2px;
    background-color:  #ff6537;
}
/* 热门活动及旅游资讯区域样式结束 */

/* 网页底部区域开始 */
.fotter {
    width: 100%;
    height: 60px;
    background-color: #222222;
    color: #fff;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
}
/* 网页底部区域结束 */
/* 首页代码结束 */

/* 地区介绍页面开始 */
/* 静态轮播图区域样式开始 */
.banner {
    width: 100%;
    height: 300px;
}
.banner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 静态轮播图区域样式结束 */

/* 地区介绍盒子样式开始 */
.area {
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
}
.area-left {
    width: 600px;
    height: 300px;
    padding: 20px;
}
.area-right {
    width: 600px;
    height: 300px;
    padding: 30px;
}
.area-right>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.area-right>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.area-p1 {
    width: 200px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #ff6537;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    display: block;
}
.area-p2 {
    color: #666;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 30px;
    margin-left: 50px;
}
/* 地区介绍盒子样式结束 */
/* 地区介绍页面结束 */

/* 景区介绍页面开始 */
/* 官方攻略盒子样式开始 */
.official-strategy-box {
    width: 1200px;
    margin: 10px auto;
    padding: 15px;
}
/* 列表盒子 */
.official-strategy-list {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    display: flex;
}
/* 官方攻略盒子样式结束 */

/* 热门活动区域样式开始 */
.hotevents-box {
    width: 1200px;
    margin: auto;
    padding: 20px;
}
.hotevents-list {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.hotevents-list-left {
    width: 300px;
    height: 200px;
    padding: 5px;
}
.hotevents-list-left>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.hotevents-list-right {
    width: 850px;
    height: 200px;
    padding: 20px;
}
.hotevents-p1 {
    color: #333;
    font-size: 25px;
    margin-top: 10px;
}
.hotevents-p1:hover {
    color: #ff6537;
}
.hotevents-p2 {
    color: #878787;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all; 
}
.hotevents-p3 {
    color: #333;
    font-size: 14px;
    margin-top: 30px;
}
/* 热门活动区域样式结束 */
/* 景区介绍页面结束 */

/* 新疆美食页面开始 */
/* 美食介绍盒子区域样式开始 */

.cuisine-box {
    width: 1200px;
    margin: 20px auto;
    padding: 10px;
}
/* 美食介绍盒子区域样式结束 */
/* 新疆美食页面结束 */